{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
{% endblock %}

{% block content %}
    {% if user.profile %}
        <div class="container mt-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            {% if user.profile.image %}
                                <img src="{{ user.profile.image.url }}" class="img-fluid rounded">
                            {% endif %}
                            <h1 class="font-weight-bold text-xl mt-2">{{ user.username }}</h1>
                            <p>Contact Number: {{ user.profile.contact_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    {% else %}
        <div class="container py-5">
            <h1 class="text-2xl mb-5 font-weight-bold text-center">Register User</h1>
            <form class="col-lg-6 bg-white shadow p-4 rounded" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Form fields for user registration -->
            </form>
            <form action="{% url 'upload_avatar' %}" method="post" enctype="multipart/form-data" class="mt-4">
                {% csrf_token %}
                <!-- Form fields for avatar upload -->
            </form>
        </div>
    {% endif %}

    
    
    
{% endblock content %}
