<!-- coursesItem.html -->
{% extends 'main/layout.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block head %}
    
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <h1 class="font-weight-bold">{{ item.name }}</h1>
                <p class="lead">{{ item.description }}</p>
                <p class="font-weight-bold">Ціна: ₴ {{ item.price | intcomma }}</p>
                
                <!-- Додайте додаткові розділи або інформацію про курс за потреби -->

                <h2 class="mt-4">Що ви навчитесь:</h2>
                <ul class="list-group">
                    <li class="list-group-item">Вступ до Python</li>
                    <li class="list-group-item">Основи Pytho</li>
                    <li class="list-group-item">Управління потоком передачі даних</li>
                    <li class="list-group-item">Функції</li>
                    <li class="list-group-item">Списки</li>
                    <li class="list-group-item">Робота з файлами</li>
                    <li class="list-group-item">Організація файлів</li>
                    <li class="list-group-item">Помилки та винятки</li>
                    <li class="list-group-item">Обʼєктно-орієнтований Python</li>
                    <li class="list-group-item">Графічний інтерфейс - GUI</li>
                </ul>
            </div>

            <div class="col-md-6">
                <img src="{{ item.image.url }}" class="img-fluid mb-3" alt="{{ item.name }}">
                
                <h2 class="mt-4">Чому саме цей курс?</h2>
                <p>Існує багато мов програмування, і Pyton є однією із найбільш затребуваних у сфері розробки
                    вебзастосунків, створення ігор тощо. Розробники Python отримують високу оплату й завжди
                    затребувані.
                    Хочете вирішити реальні проблеми програмування? Python навчить Вас цьому. Ви нарешті
                    матимете карʼєру, про яку мрієте.
                    На нашому курсі Основи Python програмування Ви оволодієте основами цієї мови
                    пограмування та отримаєте навички, які зможете вдосконалювати далі. Курс призначений
                    завдань, мінтри а атраиний та динароній форин за доло мог, що омбиних
                    Ваше навчання цікавішим та ефективнішим.</p>

                <!-- Додайте інші розділи за потреби -->
            </div>
        </div>
    </div>
{% endblock %}
