{% extends 'main/layout.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="font-weight-bold">{{ item.name }}</h1>
                    <p class="lead">{{ item.description }}</p>
                    <p class="lead font-weight-bold text-success">Безкоштовно</p>



                    <!-- Додайте додаткові розділи або інформацію про курс за потреби -->

                    <h2 class="mt-4">Що ви навчитесь:</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Введення в DevOps</li>
                        <li class="list-group-item">Автоматизація інфраструктури</li>
                        <li class="list-group-item">Керування конфігурацією</li>
                        <li class="list-group-item">Continuous Integration (CI)</li>
                        <li class="list-group-item">Continuous Deployment (CD)</li>
                        <li class="list-group-item">Моніторинг та логування</li>
                        <li class="list-group-item">Контейнеризація (Docker)</li>
                        <li class="list-group-item">Оркестрація контейнерів (Kubernetes)</li>
                        <li class="list-group-item">Інфраструктура як код (IaC)</li>
                        <li class="list-group-item">Безпека в DevOps</li>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <img src="{{ item.courses_image.url }}" class="img-fluid mb-3" alt="{{ item.name }}">

                    <h2 class="mt-4">Чому саме цей курс?</h2>
                    <p>
                        Курс з DevOps — це програма навчання, спрямована на розуміння 
                        та впровадження принципів, методологій та інструментів, пов'язаних
                         з розробкою та експлуатацією програмного забезпечення (ПЗ). Термін
                          "DevOps" походить від поєднання слів "Development" (розробка) та 
                          "Operations" (експлуатація), і вказує на об'єднання зусиль розробників
                           (Development) і системних адміністраторів (Operations) для поліпшення
                            швидкості, надійності та ефективності розробки програмного забезпечення.
                    </p>
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="mt-4">Введення в DevOps</h2>
                                        <p>
                                            <strong>Основні принципи DevOps:</strong>
                                        </p>
                                        <ul>
                                            <li><strong>Швидше Впровадження:</strong> DevOps прагне автоматизувати процеси та зменшити час від розробки до впровадження. Швидше впровадження дозволяє швидше відгукнутися на зміни та вимоги користувачів.</li>
                                            <li><strong>Автоматизація:</strong> Автоматизація є ключовим елементом DevOps. Вона включає в себе автоматизацію процесів збирання, тестування, розгортання та моніторингу, що полегшує і прискорює розробку.</li>
                                            <li><strong>Спільна Відповідальність:</strong> DevOps підтримує ідею спільної відповідальності між розробниками та операторами. Вони спільно працюють для досягнення спільних цілей, включаючи стабільність, ефективність та безпеку.</li>
                                            <li><strong>Моніторинг та Зворотній Зв'язок:</strong> Моніторинг системи та збір зворотного зв'язку є невід'ємною частиною DevOps. Вони дозволяють операторам та розробникам виявляти та вирішувати проблеми в реальному часі.</li>
                                            <li><strong>Безпека:</strong> DevOps включає в себе інтеграцію безпеки в усі етапи розробки. Забезпечення безпеки є важливою складовою для захисту даних та забезпечення надійності системи.</li>
                                        </ul>
                    
                                        <h2 class="mt-4">Введення в Інструменти Автоматизації</h2>
                                        <p>
                                            Інструменти автоматизації в сфері ІТ відіграють ключову роль у забезпеченні ефективності, надійності та швидкості розробки, тестування та впровадження програмного забезпечення. Ці інструменти стали необхідністю в умовах швидко змінюючогося середовища розробки та постачання програмних продуктів. Введення в інструменти автоматизації включає в себе кілька ключових аспектів:
                                        </p>
                                        <ol>
                                            <li><strong>Мета Автоматизації:</strong> Визначення цілей автоматизації та переваг, які вона приносить. Це може включати прискорення процесів, зменшення помилок та підвищення загальної якості програмного забезпечення.</li>
                                            <li><strong>Огляд Основних Інструментів:</strong> Поглиблене вивчення популярних інструментів для автоматизації, таких як Ansible, Chef, Puppet, SaltStack тощо. Розуміння їх призначення, особливостей та сфери застосування.</li>
                                            <li><strong>Сценарії Автоматизації:</strong> Розгляд реальних сценаріїв застосування автоматизації в розробці та операціях. Аналіз прикладів використання для побудови конфігурації, деплою та керування інфраструктурою.</li>
                                            <li><strong>Інтеграція в Життєвий Цикл:</strong> Вивчення того, як інструменти автоматизації інтегруються в різні етапи життєвого циклу розробки програмного забезпечення. Це може включати автоматизацію тестування, розгортання та моніторингу.</li>
                                            <li><strong>Забезпечення Безпеки та Стабільності:</strong> Розгляд питань безпеки та стабільності, пов'язаних із застосуванням інструментів автоматизації. Вивчення кращих практик щодо керування конфігурацією та захисту від вразливостей.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="mt-4">Контейнеризація та Docker</h2>
                                        <ul>
                                            <li>Контейнеризація – це стратегія розробки та розгортання програмного забезпечення, що дозволяє упаковувати програми та їх залежності разом в єдиний контейнер. Цей контейнер є стандартизованим, переносимим та ізольованим середовищем виконання, яке може працювати в будь-якій операційній системі.</li>
                                            <li>Docker – це відомий інструмент для роботи з контейнерами в області розробки програмного забезпечення. За допомогою Docker, розробники можуть легко створювати, розгортати та запускати контейнеризовані додатки незалежно від конфігурації операційної системи, на якій вони виконуються.</li>
                                            <li>Однією з ключових переваг контейнеризації є створення ізольованих середовищ, які забезпечують консистентність між розробкою та виробництвом. Контейнери зберігають всі необхідні бібліотеки та залежності, що робить їх переносимими та легкими для використання в будь-якому середовищі.</li>
                                            <li>Додатково, Docker спрощує процес розгортання та масштабування додатків. Завдяки можливості швидко створювати та зупиняти контейнери, розробники можуть швидко виконувати тести, виправляти помилки та розгортати додатки без перерв у роботі.</li>
                                            <li>Узагальнюючи, контейнеризація та Docker представляють сучасний підхід до розробки програмного забезпечення, який сприяє ефективності, переносимості та надійності додатків у різних областях розробки та виробництва.</li>
                                        </ul>
                                        <ul>
                                            <li><strong>Continuous Integration (CI):</strong> CI орієнтована на автоматизацію процесу збирання, тестування та перевірки коду під час розробки.</li>
                                            <li><strong>Continuous Delivery (CD):</strong> CD розширює CI, включаючи автоматизований процес доставки готового програмного забезпечення на тестові та стейджингові середовища.</li>
                                            <li><strong>Автоматизація Розгортання (Deployment Automation):</strong> Використання інструментів автоматизації розгортання для забезпечення стабільних та однакових конфігурацій середовищ в усіх етапах розробки та постачання.</li>
                                            <li><strong>Моніторинг та Повідомлення:</strong> Забезпечення належного моніторингу процесів CI/CD та інфраструктури.</li>
                                            <li><strong>Інтеграція з Іншими Інструментами:</strong> Інтеграція CI/CD з іншими інструментами DevOps, такими як системи керування версіями (наприклад, Git) та системи автоматизації контейнерів (наприклад, Docker).</li>
                                        </ul>
                    
                                        <h2 class="mt-4">Моніторинг та Логування в DevOps</h2>
                                        <p>
                                            <strong>Моніторинг:</strong>
                                        </p>
                                        <ul>
                                            <li><strong>Системний Моніторинг:</strong> Моніторинг різноманітних системних параметрів, таких як використання CPU, обсяг оперативної пам'яті, мережевий трафік та інші.</li>
                                            <li><strong>Аплікаційний Моніторинг:</strong> Спостереження за ефективністю програмного забезпечення, використанням ресурсів та виявленням неполадок.</li>
                                            <li><strong>Інфраструктурний Моніторинг:</strong> Відстеження стану серверів, баз даних, мережі та інших інфраструктурних елементів.</li>
                                        </ul>
                                        <p>
                                            <strong>Логування:</strong>
                                        </p>
                                        <ul>
                                            <li><strong>Збір та Зберігання Логів:</strong> Запис подій та помилок для подальшого аналізу.</li>
                                            <li><strong>Централізоване Логування:</strong> Використання централізованих систем для збору та аналізу логів з різних джерел.</li>
                                            <li><strong>Аналіз та Пошук Логів:</strong> Використання інструментів аналізу та пошуку для ефективного виявлення важливої інформації в логах.</li>
                                        </ul>
                                        <p>
                                            Моніторинг та логування в DevOps є невід'ємною частиною циклу розробки та експлуатації, забезпечуючи командам необхідні дані для прийняття обґрунтованих рішень та забезпечення високої доступності та якості програмного забезпечення.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Додайте інші розділи за потреби -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
