{% extends 'main/layout.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="font-weight-bold">{{ item.name }}</h1>
                    <p class="lead">{{ item.description }}</p>
                    <p class="lead font-weight-bold text-success">Безкоштовно</p>



                    <!-- Додайте додаткові розділи або інформацію про курс за потреби -->

                    <h2 class="mt-4">Що ви навчитесь:</h2>
                    <ul class="list-group">
                        <li class="list-group-item">HTML та CSS: Основи Веб-розробки</li>
                        <li class="list-group-item">JavaScript та Робота з Об'єктною Моделлю Документу (DOM)</li>
                        <li class="list-group-item">Реактивні веб-сторінки: Основи та Принципи</li>
                        <li class="list-group-item">Робота зі Зображеннями та Мультимедіа в Веб-розробці</li>
                        <li class="list-group-item">Вивчення Інструментів та Бібліотек у курсі "Основи Веб-розробки: Від HTML до JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <img src="{{ item.courses_image.url }}" class="img-fluid mb-3" alt="{{ item.name }}">

                    <h2 class="mt-4">Чому саме цей курс?</h2>
                    <p>
                        Існує безлічні можливості у світі веб-розробки,
                         і засвоєння основ є критичним етапом для будь-якого 
                         початківця. Наш курс "Основи Веб-розробки: Від HTML 
                         до JavaScript" розроблений з метою надати студентам
                          крісталічний розуміння ключових технологій, які лежать
                           в основі сучасного вебу
                    </p>
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                    
                                        <h2 class="mt-4">HTML та CSS: Основи Веб-розробки</h2>
                                        <ul>
                                            <li>
                                                <p>1. <strong>HTML (HyperText Markup Language):</strong></p>
                                                <p>HTML є мовою розмітки, яка визначає структуру веб-документів. Вивчення HTML дозволяє розробникам створювати веб-сторінки, визначаючи різні елементи та їхні взаємозв'язки. За допомогою HTML визначаються заголовки, параграфи, списки, посилання, таблиці та інші елементи, що складають веб-сторінку.</p>
                                            </li>
                                            <li>
                                                <p>2. <strong>CSS (Cascading Style Sheets):</strong></p>
                                                <p>CSS використовується для стилізації веб-документів, щоб зробити їх привабливими та естетично збалансованими. За допомогою CSS визначаються кольори, шрифти, розташування та інші аспекти вигляду веб-сторінок. Каскадна природа CSS дозволяє легко змінювати стилі та забезпечує їх каскадне застосування відповідно до ієрархії елементів.</p>
                                            </li>
                                        </ul>
                    
                                        <h2 class="mt-4">JavaScript та Робота з Об'єктною Моделлю Документу (DOM)</h2>
                                        <ul>
                                            <li>
                                                <p>Мова Програмування:</p>
                                                <p>JavaScript є вбудованою мовою програмування, яка використовується для реалізації логіки та функціональності веб-сайтів. Вона підтримує об'єктно-орієнтовану, функціональну та імперативну парадигми програмування.</p>
                                            </li>
                                            <li>
                                                <p>Клієнтська Скриптова Мова:</p>
                                                <p>Використовується на стороні клієнта, тобто в браузері користувача, для взаємодії з елементами веб-сторінки та створення динамічного вмісту.</p>
                                            </li>
                                            <li>
                                                <p>Робоча Об'єктна Модель Документу (DOM):</p>
                                                <p>Представлення Веб-Сторінки: DOM представляє структуру веб-сторінки у вигляді дерева об'єктів, де кожен елемент сторінки є об'єктом з властивостями та методами, які можна змінювати за допомогою JavaScript.</p>
                                            </li>
                                            <li>
                                                <p>Динамічна Зміна Вмісту:</p>
                                                <p>JavaScript та DOM дозволяють динамічно змінювати вміст та структуру веб-сторінки без перезавантаження сторінки, що робить користувацький інтерфейс більш взаємодійним та привабливим.</p>
                                            </li>
                                            <li>
                                                <p>Операції з Елементами:</p>
                                                <p>Взаємодія з DOM дозволяє вибирати, змінювати, видаляти та додавати елементи на сторінці. Це використовується для реалізації анімацій, обробки подій та багатьох інших функцій.</p>
                                            </li>
                                        </ul>
                    
                                        <h2 class="mt-4">Реактивні веб-сторінки: Основи та Принципи</h2>
                                        <ul>
                                            <li>
                                                <p>1. Введення до Реактивності:</p>
                                                <p>
                                                    Розуміння основних ідей, які лежать в основі реактивного програмування. Вивчення переваг реактивності в порівнянні з традиційним підходом до веб-розробки.
                                                </p>
                                            </li>
                                            <li>
                                                <p>2. Робота з Асинхронністю:</p>
                                                <p>
                                                    Ознайомлення з асинхронним програмуванням та його впливом на взаємодію з сервером та іншими ділово-логічними складовими.
                                                </p>
                                            </li>
                                            <li>
                                                <p>3. Використання JavaScript та DOM:</p>
                                                <p>
                                                    Засвоєння JavaScript як мови для створення реактивних елементів веб-сторінок. Розгляд роботи з Document Object Model (DOM) для динамічного змінення структури сторінок.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                    
                                        <div class="content-section">
                                            <h2 class="mt-4">Робота зі Зображеннями та Мультимедіа в Веб-розробці</h2>
                                            <p>
                                                У курсі "Основи Веб-розробки: Від HTML до JavaScript" великий акцент приділяється вивченню роботи зі зображеннями та мультимедіа, що є ключовим аспектом сучасних веб-сторінок. Нижче представлені основні аспекти, які ви долучите до свого розуміння під час курсу:
                                            </p>
                                            <ul>
                                                <li>
                                                    <strong>Вбудовання Зображень:</strong> Освоєння технік вставлення зображень на веб-сторінки за допомогою HTML-тегів. Розгляд атрибутів та їх роль у відображенні та оптимізації зображень.
                                                </li>
                                                <li>
                                                    <strong>Мультимедійний Зміст:</strong> Вивчення вставки аудіо та відео на веб-сторінки для створення багатомедійного вмісту. Оптимізація та контроль за розміром мультимедійних файлів для забезпечення ефективності завантаження сторінки.
                                                </li>
                                                <li>
                                                    <strong>Работа з Графічними Редакторами:</strong> Засвоєння базових навичок роботи з графічними редакторами для оптимізації та обробки зображень перед використанням на веб-сторінках. Використання інструментів для створення та редагування мультимедійного контенту.
                                                </li>
                                                <li>
                                                    <strong>Адаптація до Різних Пристроїв:</strong> Розгляд стратегій адаптації мультимедійного контенту для різних типів пристроїв та розмірів екранів. Використання медіа-запитів та адаптивного дизайну для оптимізації відображення зображень на різних пристроях.
                                                </li>
                                                <li>
                                                    <strong>Оптимізація Швидкодії:</strong> Вивчення стратегій для зменшення часу завантаження веб-сторінок, пов'язаних із зображеннями та мультимедіа. Використання сучасних технік, таких як lazy loading, для ефективного завантаження медіа-ресурсів.
                                                </li>
                                            </ul>
                                        </div>
                    
                                        <div class="content-section">
                                            <h2 class="mt-4">Вивчення Інструментів та Бібліотек у курсі "Основи Веб-розробки: Від HTML до JavaScript"</h2>
                                            <p>
                                                Курс "Основи Веб-розробки: Від HTML до JavaScript" включає в себе інтенсивний модуль, присвячений вивченню інструментів та бібліотек, що є ключовими для сучасної веб-розробки. Ось, що ми вивчимо у цьому розділі:
                                            </p>
                                            <ul>
                                                <li>
                                                    <strong>Ознайомлення з Популярними Інструментами:</strong>
                                                    <ul>
                                                        <li>Розгляд та використання інтегрованих середовищ розробки (IDE), таких як Visual Studio Code або Atom.</li>
                                                        <li>Вивчення інструментів для відлагодження коду та виявлення помилок.</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>Фреймворки для Веб-розробки:</strong>
                                                    <ul>
                                                        <li>Введення в популярні фреймворки, такі як React, Angular або Vue.js.</li>
                                                        <li>Вивчення основних концепцій та принципів використання фреймворків для створення динамічних та інтерактивних веб-застосунків.</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>Бібліотеки для Взаємодії з DOM:</strong>
                                                    <ul>
                                                        <li>Вивчення бібліотек для спрощення взаємодії з Document Object Model (DOM), таких як jQuery.</li>
                                                        <li>Розгляд функціоналу та застосування бібліотек для швидкої розробки веб-сторінок.</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>Інструменти Контролю Версій:</strong>
                                                    <ul>
                                                        <li>Використання систем контролю версій, таких як Git, для ведення історії змін та спільної роботи з командою.</li>
                                                        <li>Розгляд команд та операцій, що допомагають у керуванні версіями проекту.</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <strong>Оптимізація та Забезпечення Якості:</strong>
                                                    <ul>
                                                        <li>Використання інструментів для оптимізації завантаження веб-сторінок та покращення продуктивності.</li>
                                                        <li>Розгляд інструментів для тестування коду та забезпечення його якості.</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    

                    <!-- Додайте інші розділи за потреби -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
