{% extends 'main/layout.html' %}

{% load static %}
{% load humanize %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="font-weight-bold">{{ item.name }}</h1>
                    <p class="lead">{{ item.description }}</p>
                    <p class="lead font-weight-bold text-success">Безкоштовно</p>



                    <!-- Додайте додаткові розділи або інформацію про курс за потреби -->

                    <h2 class="mt-4">Що ви навчитесь:</h2>
                    <ul class="list-group">
                        <li class="list-group-item">Вступ до Python</li>
                        <li class="list-group-item">Основи Python</li>
                        <li class="list-group-item">Управління потоком передачі даних</li>
                        <li class="list-group-item">Функції</li>
                        <li class="list-group-item">Списки</li>
                        <li class="list-group-item">Робота з файлами</li>
                        <li class="list-group-item">Організація файлів</li>
                        <li class="list-group-item">Помилки та винятки</li>
                        <li class="list-group-item">Обʼєктно-орієнтований Python</li>
                        <li class="list-group-item">Графічний інтерфейс - GUI</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <img src="{{ item.courses_image.url }}" class="img-fluid mb-3" alt="{{ item.name }}">

                    <h2 class="mt-4">Чому саме цей курс?</h2>
                    <p>Існує багато мов програмування, і Python є однією із найбільш затребуваних
                         у сфері розробки вебзастосунків, створення ігор тощо. Розробники Python отримують
                          високу оплату й завжди затребувані. Хочете вирішити реальні проблеми програмування? 
                          Python навчить Вас цьому. Ви нарешті матимете карʼєру, про яку мрієте. На нашому курсі
                           "Основи Python програмування" Ви оволодієте основами цієї мови програмування та отримаєте навички, 
                           які зможете вдосконалювати далі. Курс призначений для завдань, мінтри, атраиний та динароній форин за 
                           доло мог, що омбиних Ваше навчання цікавішим та ефективнішим.
                    </p>
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="mt-4">Типи даних:</h2>
                                        <p>
                                            Типи даних в Python визначають, як дані представлені та обробляються в програмі. Python має вбудовані типи даних, і ось кілька з них:
                                        </p>
                                        <ul>
                                            <li><strong>int (цілі числа):</strong> Приклад: x = 10. Цілі числа використовуються для представлення цілих чисел без десяткової частини.</li>
                                            <li><strong>float (числа з плаваючою комою):</strong> Приклад: y = 3.14. Числа з плаваючою комою використовуються для представлення чисел з десятковою частиною.</li>
                                            <li><strong>str (рядки):</strong> Приклад: name = "Python". Рядки використовуються для представлення текстової інформації.</li>
                                            <li><strong>bool (логічний тип):</strong> Приклад: is_valid = True. Логічний тип використовується для представлення значень True (істина) або False (хиба).</li>
                                            <li><strong>list (списки):</strong> Приклад: numbers = [1, 2, 3, 4, 5]. Списки використовуються для упорядкованого зберігання декількох значень.</li>
                                            <li><strong>tuple (кортежі):</strong> Приклад: coordinates = (3, 4). Кортежі схожі на списки, але їх не можна змінювати (їхні елементи не можна змінювати після створення).</li>
                                            <li><strong>dict (словники):</strong> Приклад: person = {'name': 'John', 'age': 30}. Словники використовуються для представлення пар "ключ-значення" та дозволяють швидко отримувати значення за ключем.</li>
                                            <li><strong>set (множини):</strong> Приклад: unique_numbers = {1, 2, 3, 4, 5}. Множини використовуються для представлення унікальних значень без порядку.</li>
                                        </ul>
                                        <p>
                                            Ці типи даних дозволяють програмістам ефективно працювати з різними видами інформації в Python. Програми можуть використовувати ці типи для взаємодії з даними, виконувати операції та вирішувати різноманітні завдання.
                                        </p>
                    
                                        <h2 class="mt-4">Управління потоком передачі даних:</h2>
                                        <p>
                                            У мові програмування Python управління потоком даних визначається за допомогою конструкцій if, elif і else. Ці умовні вирази дозволяють програмі виконувати певний блок коду в залежності від визначених умов.
                                        </p>
                                        <p>
                                            <strong>Оператор if:</strong> Оператор if використовується для визначення блоку коду, який виконується, якщо умова є істинною.
                                        </p>
                                        <p>
                                            <strong>Оператор elif:</strong> Оператор elif (скорочено від "else if") дозволяє вам перевіряти інші умови, якщо попередня була хибною. Він дозволяє створювати ланцюжок умов.
                                        </p>
                                        <p>
                                            <strong>Оператор else:</strong> Оператор else використовується для визначення блоку коду, який виконується, якщо жодна з попередніх умов не є істинною. Це визначає альтернативний шлях виконання програми.
                                        </p>
                                        <p>
                                            <strong>Комбінація умов:</strong> Оператори if, elif і else можна комбінувати, щоб обробляти різні сценарії виконання програми. Такий підхід дозволяє створювати багатофункціональні та адаптивні програми.
                                        </p>
                                        <p>
                                            Управління потоком даних в Python є ключовим механізмом для прийняття рішень, що робить код гнучким та здатним взаємодіяти з різними умовами виконання. Це важлива концепція для будь-якого розробника, який прагне створювати ефективні та ефективні програми.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="mt-4">Функції:</h2>
                                        <p>
                                            Функції є основним елементом в будь-якій програмі на Python. Вони дозволяють групувати блоки коду в окремі, повторно використовувані одиниці, що полегшує розробку, зберігання та відлагодження програмного коду.
                                        </p>
                    
                                        <p>
                                            <strong>Оголошення функцій</strong>
                                        </p>
                                        <p>
                                            Функції визначаються за допомогою ключового слова <code>def</code>, за яким слідує ім'я функції та велика дужка, що містить параметри. Оголошення функції може включати блок коду, який виконується, коли функція викликається.
                                        </p>
                    
                                        <p>
                                            <strong>Параметри та аргументи</strong>
                                        </p>
                                        <p>
                                            Параметри - це значення, які функція приймає під час виклику. Аргументи - це конкретні значення, передані функції під час її виклику.
                                        </p>
                    
                                        <p>
                                            <strong>Повернення значень</strong>
                                        </p>
                                        <p>
                                            Функція може повертати значення за допомогою ключового слова <code>return</code>. Якщо <code>return</code> відсутнє, функція повертає <code>None</code>.
                                        </p>
                    
                                        <p>
                                            <strong>Локальні та глобальні змінні</strong>
                                        </p>
                                        <p>
                                            Змінні, визначені всередині функції, називаються локальними та доступні лише всередині функції. Змінні, визначені поза функцією, називаються глобальними та доступні в усьому коді.
                                        </p>
                    
                                        <p>
                                            <strong>Рекурсія</strong>
                                        </p>
                                        <p>
                                            Функції можуть викликати себе, що називається рекурсією. Це корисний механізм для розв'язання завдань, які можуть бути розділені на більш прості підзадачі.
                                        </p>
                    
                                        <p>
                                            Функції в Python розширюють можливості мови та роблять програмний код більш структурованим та підтримуємим. Вони є важливим інструментом для розробки будь-якого типу програми та сприяють читабельності та повторному використанню коду.
                                        </p>
                    
                                        <h2 class="mt-4">Списки:</h2>
                                        <p>
                                            Список в Python є одним з основних типів даних і представляє собою упорядковану колекцію елементів. Списки є змінюваними, тобто можуть змінюватися після створення, і можуть містити об'єкти будь-якого типу.
                                        </p>
                    
                                        <p>
                                            <strong>Основні характеристики списків:</strong>
                                        </p>
                                        <ul>
                                            <li><strong>Упорядкованість:</strong> Списки зберігають елементи в порядку їхнього додавання, і можна отримати доступ до кожного елемента за допомогою індексу.</li>
                                            <li><strong>Змінюваність:</strong> Елементи списку можна змінювати, додавати та видаляти під час виконання програми.</li>
                                            <li><strong>Різноманітність типів:</strong> Списки можуть містити елементи різних типів даних, включаючи числа, рядки, інші списки тощо.</li>
                                            <li><strong>Динамічність:</strong> Розмір списку може динамічно змінюватися під час виконання програми, додаванням або видаленням елементів.</li>
                                        </ul>
                    
                                        <p>
                                            Списки використовуються для зберігання та організації даних, що може бути особливо корисним в програмах, де потрібно працювати зі змінюваним переліком об'єктів.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h2 class="mt-4">Робота з файлами:</h2>
                                        <p>
                                            Робота з файлами є необхідною частиною програмування для збереження та обробки даних. В мові програмування Python існує потужний і простий у використанні механізм для взаємодії з файловою системою.
                                        </p>
                                        <p>
                                            <strong>Відкриття файлу</strong>: Для роботи з файлами використовується функція `open()`, яка відкриває файл та повертає об'єкт файлу. Параметри функції вказують шлях до файлу та режим відкриття (читання, запис, тощо).
                                        </p>
                                        <p>
                                            <strong>Зчитування та запис даних</strong>: Python надає методи для зчитування та запису даних в файл. Методи `read()` і `write()` використовуються для читання та запису даних відповідно.
                                        </p>
                                        <p>
                                            <strong>Закриття файлу</strong>: Після завершення роботи з файлом його важливо закрити за допомогою методу `close()`. Це дозволяє звільнити ресурси та запобігти можливим проблемам з доступом до файлу.
                                        </p>
                                        <p>
                                            <strong>Керування позицією у файлі</strong>: Метод `seek()` використовується для переміщення покажчика позиції у файлі. Це дозволяє читати або записувати дані з конкретної позиції.
                                        </p>
                                        <p>
                                            <strong>Контекстний менеджер</strong>: В Python рекомендується використовувати контекстний менеджер `with` для автоматичного закриття файлу після завершення його використання. Це дозволяє уникнути проблем зі збільшенням витрат ресурсів.
                                        </p>
                                        <p>
                                            <strong>Обробка винятків</strong>: Важливо враховувати можливість виникнення помилок при роботі з файлами, таких як відсутність файлу або недостатні права доступу. Обробка винятків дозволяє побудувати надійний та стійкий код для роботи з файлами.
                                        </p>
                                        <p>
                                            Вивчення цих аспектів дозволяє програмістам взаємодіяти зі зовнішніми даними та ефективно керувати файловою системою в середовищі мови програмування Python.
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
