{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Онлайн-платформа з навчання в галузі ІТ, де ви можете розвивати свої навички та отримувати нові знання.</p>
        <p>Наші курси створені професіоналами галузі та покривають широкий спектр тем, від програмування до адміністрування систем.</p>
        <p>Оберіть свій шлях розвитку, зареєструйтеся на курс і розпочніть свій шлях до успіху в ІТ-сфері.</p>
        <button class="btn btn-danger">на торінку про нас</button>
    </div>
{% endblock %}