{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content %}
    <div class="container mt-5 border rounded p-4">
        <h1 class="mb-4">Про нас</h1>
        <p class="lead">Ласкаво просимо на наш сайт, де ми пропонуємо широкий спектр онлайн-курсів з різних галузей
            програмування та розробки.</p>
        <p>
            Наша платформа дозволяє вам вивчати такі мови програмування,
            як Python, JavaScript, а також глибше пізнати навички розробки для Android та iOS, і вивчити
            основи DevOps.
        </p>
        <p>
            Ми стежимо за тим, щоб надавати вам якісний контент та можливість отримати практичні навички
            у сфері інформаційних технологій. З нами ви зможете розвинути свої здібності та покращити
            свої навички для досягнення нових вершин у своїй кар'єрі.
        </p>
        <p>
            Безсумнівно, наші онлайн-курси стануть найкращим помічником у вашому професійному розвитку.
             Долучайтеся до нашої спільноти та розпочинайте свій шлях до успіху разом із нами!
        </p>
        <div class="mt-4">
            <p class="mb-0">
                <strong>Ім'я:</strong> Цибульський Олександр Валерійович
            </p>
            <p class="mb-0">
                <strong>Номер телефону:</strong> +380959295126
            </p>
            <p>
                <strong>Електронна пошта:</strong> tsybulskyi.oleksandr@comp-sc.if.ua
            </p>
        </div>
    </div>
{% endblock %}
