{% extends 'main/layout.html' %}

{% block title %}
    Teachers
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-4 display-4 text-center">Викладачі</h2>
        <div class="row">
            {% for teacher in teachers %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ teacher.image.url }}" class="card-img-top" alt="{{ teacher.name }} Image">
                        <div class="card-body">
                            <h3 class="card-title">{{ teacher.name }}</h3>
                            <p class="card-text">Specialty: {{ teacher.specialty }}</p>
                            <p class="card-text">Experience: {{ teacher.experience }} years</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
